* {
    box-sizing: border-box;
}

/* body {
min-height: 100vh;
} */

.wrapper {
   display: flex;
   justify-content: center;
    margin: auto;
    min-height: 100vh;
}

.programWindow {
    width: 600px;
    height: 500px;
    border: 3px solid green;
    border-radius: 5px;
    margin: auto;
    background: #1e3539;
}

.console {
    color: #8BC34A;
    text-align: center;
    margin: 3%;
}

.txt {
    color: #fff;
    text-align: center;
    font-size: 18px;
}

#number-btn {
    width: 112px;
    height: 45px;
    margin: 8% auto;
    border-radius: 5px;
    text-align: center;
    display: flex;
    align-items: center;
    color: coral;
    border: 2px solid blue;
    background-color: #0525ea8c;
}

#number-btn:hover {
    border: 1px solid coral;
}

#result {
    background-color: #d4d4d4;;
    margin: auto;
    color: #000;
    margin: 0 50px;
    overflow: auto;
    text-align: center;
    font-size: 18px;
}

#result2 {
    background-color: coral;;
    margin: auto;
    color: #000;
    margin: 0 50px;
    overflow: auto;
    text-align: center;
    font-size: 18px;
}

#hard-btn {
    width: 112px;
    height: 45px;
    margin: 8% auto;
    border-radius: 5px;
    text-align: center;
    display: flex;
    align-items: center;
    color: coral;
    border: 2px solid blue;
    background-color: #0525ea8c;
}

#hard-btn:hover {
    border: 1px solid coral;
}